<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h2>Profile</h2>
    <a href="/"><button>Home</button></a><br><br>
    <table>
        <tr>
            <th>Username: </th>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <th>Password: </th>
            <td>{{user.password}}</td>
        </tr>
    </table><br>
    <a href="/update/{{user.sno}}"><button>Update</button></a><br><br>
    <a href="/signout"><button>signout</button></a><br>
</body>
</html>